@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #0f172a;
  --background: #f1f5f9;
  --accent: #1e40af;
  --accent-hover: #1d4ed8;
  --accent-muted: #3b82f6;
}

body {
  color: var(--foreground);
  background: var(--background);
}
