@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #0f172a;
  --background: #f1f5f9;
  --accent: #0f172a;
  --accent-hover: #1e293b;
}

body {
  color: var(--foreground);
  background: var(--background);
}
